@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  background: radial-gradient(circle at top right, #1e1b4b, #0f172a, #000000);
  background-attachment: fixed;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}